@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

html {
  scrollbar-width: thin; 
  scrollbar-color: #364153 #111729;
}

body{
  background-color: #20293A;
  display:flex;
  justify-content: center;
  align-items: center;
}

.heroimage{
  width:100%;
}

.search-bar{
  display:flex;
  position: absolute;
  top:50px;
  left:500px;
  padding:15px;
  width:35%;
  border:none;
  background-color: #20293A;
  border-radius:10px;
  gap:0.6rem;
}

.search-input{
  width:100%;
  border:none;
  background-color: #20293A;
  border-radius:10px;
  color:#CDD5E0;
}

.search-input::placeholder{
  color:#364153;
  font-weight: 500;
}

.search-input:focus{
  outline:none;
  color:#CDD5E0;
}

.profile-search{
  position: absolute;
  background-color: #111729;
  display:flex;
  top:60px;
  right:0px;
  border-radius: 15px;
  padding:10px;
  align-items: center;
  width:100%;
  display:none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 2px solid transparent;
}

.profile-search.visible {
  display: flex;
}

.container-search{
  display:flex;
  gap:1rem;
}

.container-search img{
  width: 15%;
  height: auto; 
  display:flex;
}

.container-info{
  display:flex;
  flex-direction: column;
  gap:0.4rem;
  justify-content: center;
}

.container-info span{
  color:#CDD5E0;
}

.container-info p{
  color:#677c9e;
  font-size: 0.7rem;
}

.profile-container{
  display:flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-40px);
}

.profileImg-container{
  display:flex;
  flex-direction: column;
}

.profileImg{
  width: 140px;
  height: auto; 
  background-color: #20293A;
  border-radius: 15px;
  padding: 10px;
}

.bio{
  display:flex;
  flex-direction: column;
  max-width: 270px;
  flex-wrap: wrap;
}

.bio h3{
  color:#CDD5E0;
  font-size: 2rem;
  font-weight: 500;
}

.bio span{
  color:#677c9e;
  font-weight: 500;
}

.profile-info{
  display:flex;
  gap:1rem;
  max-height:60px;
}

.profile-info .followers, .following, .location{
  display:flex;
  background-color: #111729;
  align-items: center;
  padding:10px 15px;
  border-radius: 15px;
}

.followers span, .following span, .location span{
color:#364153;
}

.followers p, .following p, .location p{
  color:#CDD5E0;
}

.profile-info .followers svg,
.following svg,
.location svg {
  flex-shrink: 0; 
}

.container-main {
  display: flex;
  flex-direction: column;
  margin:0 auto;
  gap: 1.25rem; 
  width: 60%;
}

.row-container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem; 
}

.container {
  flex: 1;
  background: linear-gradient(to right, #111729, #1D1B48);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

a{
  text-decoration: none;
  flex: 1;
}

.container img {
  width: 20px; 
  height: 20px; 
  margin-right: 10px; 
}

.container h3 {
  margin-top: 0;
  margin-bottom: 10px; 
  color:#CDD5E0;
}

.container p {
  margin: 0;
  color:#677c9e;
}

.container span{
  color:#677c9e;
}

.container-stats {
  display: flex;
  align-items: center;
  gap:1rem;
  margin-top: 10px; 
  font-weight: 600;
}

.nesting, .star, .MIT {
  display: flex;
  align-items: center;
}

.update {
  margin-top: 10px;
  font-size: 0.8em;
  color: #888;
  margin:0 auto;
}

.repositories a{
  justify-content: center;
  display:flex;
  padding:20px 0;
  color:#677c9e;
  cursor: pointer;
  text-decoration: none;
  width:25%;
  margin: 0 auto;
}

.profile-search:hover{
  border: 2px solid #2c296d;
}

.container:hover{
  box-shadow: 0 0 10px #2c296d, 0 0 20px #2c296d, 0 0 30px #2c296d, 0 0 40px #2c296d;
  cursor: pointer;
}

.repositories a:hover{
  color:#CDD5E0;
  transition: 0.3s ease-in-out;
}


@media(max-width:1441px){
  .second-container, .third-container, .fourth-container{
    width:31%;
  }
}

@media(max-width:1025px){
  .search-bar{
    top:35px;
    left:340px;
    width:40%;
  }

  .profile-search{
    top:60px;
  }

  .profile-container{
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-40px);
  }

  .profileImg{
    width: 120px;
  }

  .container-main{
    display:flex;
    flex-direction: column;
    gap:1rem;
    width:70%;
  }
  
  .row-container{
    display:flex;
    justify-content: center;
    gap:1rem;
    align-items: center;
  }

  .container{
    background: linear-gradient(to right, #111729, #1D1B48);
    width:100%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  .update {
    font-size: 0.6em;
  }
}

@media(max-width:769px){
  .search-bar{
    top:20px;
    left:220px;
    width:50%;
  }

  .profile-search{
    top:60px;
    width:100%;
    max-height:60px;
    border-radius: 10px;
  }

  .container-search img{
    width: 10%;
  }

  .container-info span{
    font-size: 0.8rem;
  }
  
  .container-info p{
    font-size: 0.6rem;
  }

  .profile-container{
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-40px);
    gap:3rem;
    max-width:650px;
    margin:0 auto;
  }

  .profileImg{
    width: 100px;
  }

  .bio h3{
    font-size: 1.2rem;
  }
  
  .bio span{
    font-size: 0.7rem;
  }

  .profile-info{
    max-height:45px;
  }

  .profile-info .followers, .following, .location{
    padding:7px;
    border-radius: 10px;
  }
  
  .followers span, .following span, .location span{
    font-size: 0.8rem;
  }
  
  .followers p, .following p, .location p{
    font-size: 0.7rem;
  }

  .container-main{
    display:flex;
    flex-direction: column;
    gap:1rem;
    width:80%;
  }
  
  .row-container{
    display:flex;
    justify-content: center;
    gap:1rem;
    align-items: center;
  }

  .container{
    background: linear-gradient(to right, #111729, #1D1B48);
    width:100%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  .container-stats{
    gap:0.4rem;
  }

  .nesting span{
    font-size: 0.8rem;
  }

  .star p{
    font-size: 0.8rem;
  }

  .update span{
    font-size: 0.9em;
  }

  .MIT{
    font-size: 0.8rem;
  }

  .respositories{
    font-size: 0.8rem;
  }

  .repositories a{
    width:60%;
  }
}

@media(max-width:426px){
  .heroimage{
    width:104%;
    height:150px;
  }

  .search-bar{
    top:10px;
    left:100px;
    width:60%;
  }

  .profile-search{
    top:60px;
    width:100%;
    max-height:60px;
    border-radius: 10px;
  }

  .container-search img{
    width: 20%;
  }

  .container-info span{
    font-size: 0.7rem;
  }
  
  .container-info p{
    font-size: 0.5rem;
  }

  .profile-container{
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);
    margin:0 auto;
    max-width:375px;
  }

  .profileImg{
    width: 100px;
  }

  .profile-info{
    display:flex;
    flex-direction: column;
    gap:1rem;
    max-height:90px;
  }

  .bio{
    display:flex;
    flex-direction: column;
    transform: translateY(120px);
    margin-left:10px;
  }

  .bio h3{
    font-size: 1.5rem;
  }
  
  .bio span{
    font-size: 0.7rem;
  }

  .profile-info .followers, .following, .location{
    padding:5px 25px;
    border-radius: 10px;
    width:90%;
  }
  
  .followers span, .following span, .location span{
    font-size: 0.7rem;
  }
  
  .followers p, .following p, .location p{
    font-size: 0.6rem;
  }

  .container-main{
    display:flex;
    flex-direction: column;
    gap:1rem;
    margin-top:120px;
    align-items: center;
  }
  
  .row-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    align-items: center;
  }

  .container{
    background: linear-gradient(to right, #111729, #1D1B48);
    width:100%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    min-width:350px;
  }

  .container h3{
    font-size: 1rem;
  }
  
  .container p{
    font-size: 0.8rem;
  }
  
  .container span{
    font-size: 0.8rem;
  }

  .update span{
    font-size: 0.6rem;
  }

  .respositories{
    font-size: 0.8rem;
  }

  .repositories a{
    width:100%;
  }
}

@media(max-width:321px){
  .heroimage{
    width:104%;
    height:150px;
  }

  .search-bar{
    left:80px;
  }

  .profile-search{
    top:60px;
    width:100%;
    max-height:60px;
    border-radius: 10px;
  }

  .container-search img{
    width: 20%;
  }

  .container-info span{
    font-size: 0.6rem;
  }
  
  .container-info p{
    font-size: 0.435rem;
  }

  .profile-container{
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);
    margin:0 auto;
  }

  .profileImg{
    width: 90px;
    margin-left:20px;
  }

  .profile-info{
    display:flex;
    flex-direction: column;
    gap:1rem;
    max-height:90px;
  }

  .bio{
    display:flex;
    flex-direction: column;
    transform: translateY(120px);
    margin-left:10px;
  }

  .bio h3{
    font-size: 1.5rem;
  }
  
  .bio span{
    font-size: 0.7rem;
  }

  .profile-info .followers, .following, .location{
    padding:5px;
    border-radius: 10px;
    width:100%;
  }

  .container-main{
    margin-top:120px;
    transform: translatex(5px);
  }
  
  .row-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    align-items: center;
  }

  .container{
    background: linear-gradient(to right, #111729, #1D1B48);
    width:100%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    min-width:300px;
  }

  .respositories{
    font-size: 0.8rem;
  }
}